body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #121212;
  color: white;
}

header, footer {
  background-color: #121212;
  color: white;
  padding: 1rem;
  text-align: center;
}

.header {
  padding: 1rem;
  background-color: #121212;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.header-title {
  margin: 0;
}


nav a {
  color: white;
  text-decoration: none;
  margin: 80px
}

button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #61dafb;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #21a1f1;
}

.games-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.games-list div {
  margin: 1rem;
  padding: 1rem;
  text-align: left;
  background-color: #1c1c1c; /* Slightly lighter for contrast */
  border-radius: 10px; /* Curved edges */
  flex: 1 0 21%; /* Ensure four items per row */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.games-list img {
  max-width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

h2, p {
  text-align: left;
  width: 100%;
  color: white;
}
